/* You can add global styles to this file, and also import other style files */

img {
  height: 35px;
  width: 35px;
}

.yellow {
    background-color: yellow;
  }
 .green {
    background-color: green;
  }
 .red {
    background-color: red;
  }
 .blue {
    background-color: blue;
  }

